{% extends 'base.html' %}

{% block body %}

<h2>{{the_title}}</h2>
<h3>Hello {{the_username}}</h3>

<form method="POST" action="/todolist">
<p>Use this form to submit a to-do into list</p>
<input name='task' type="text" width="60">
<p><input value='Do it!' type='SUBMIT'></p>
</form>

<p>Test send task field</p>
<input id="todo"  type="text" width="60">
<button id="fetch_todo">Add task</button>
<div id="result2"></div>

<table>
    <tr>
        {% for row_title in the_row_titles %}
            <th>{{row_title}}</th>
        {% endfor %}    
    </tr>
    {% for list_row in the_list %}
        <tr>
            {%for item in list_row %}
                <td>{{item}}</td>
            {% endfor %}    
        </tr>
    {% endfor %}    
</table>
<input id="todo_to_mark_as_done"  type="number" width="20">
<button id="fetchdata">Mark as done</button>
<div id="result"></div>

{% endblock %}